<!-- Service Section Design -->

<section class="services" id="services">
  <h2 class="heading">Services</h2>
  <div class="services-container">
    <div class="service-box">
      <div class="service-info">
        <h4>Web Developer</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          iste tempore maiores est saepe doloribus repellendus fugiat? Molestiae
          sapiente iure aspernatur provident, vero sunt corporis, non ipsa ex
          hic velit!
        </p>

        <p></p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-info">
        <h4>FrontEnd Developer</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          iste tempore maiores est saepe doloribus repellendus fugiat? Molestiae
          sapiente iure aspernatur provident, vero sunt corporis, non ipsa ex
          hic velit!
        </p>

        <p></p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-info">
        <h4>BackEnd Developer</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          iste tempore maiores est saepe doloribus repellendus fugiat? Molestiae
          sapiente iure aspernatur provident, vero sunt corporis, non ipsa ex
          hic velit!
        </p>

        <p></p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-info">
        <h4>Full Stack Developer Developer</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          iste tempore maiores est saepe doloribus repellendus fugiat? Molestiae
          sapiente iure aspernatur provident, vero sunt corporis, non ipsa ex
          hic velit!
        </p>

        <p></p>
      </div>
    </div>