/* Contact Section Design */


.contact{
  background-color: var(--bg-color);
}

.contact h2{
  margin-bottom: 3rem;
  color: #fff;
}

.contact form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.contact form .btn{
  margin-top: 2rem;
}
/* ---------------- BUTTONS ---------------- */

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  background: var(--main-color);
  color: #080808;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}