

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12rem 4rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 24px var(--main-color);
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}


span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}


/* -------------------- MOBILE VIEW -------------------- */
@media (max-width: 991px) {

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    margin: 2rem 0;
    font-size: 2.2rem;
  }
}


.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
/* .header {
  position: fixed;
  top: 0;
} */
