<!-- Project Section -->

<section class="Project" id="Project">
  <div class="Project-box">
    <h2 class="heading">Project</h2>

    <div class="wrapper">

      <div class="Project-item">
        <a href="https://photo-booth-one-blush.vercel.app/" target="_blank" class="herf">
        <img src="assets/Screenshot_photo-booth-one-blush.vercel.app.jpeg" alt="Client Image">
        <h2>Photo Booth </h2>

        </a>
        <!-- <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </div> -->

        <p>
          Dinesh delivered a clean, responsive website with great attention
          to detail. Highly recommended for Angular & Spring Boot projects.
        </p>
      </div>

      <div class="Project-item">
        <a href="https://petshop-website-chi.vercel.app/" target="_blank" class="href">
        <img src="assets/Screenshot_petshop-website-chi.vercel.app.jpeg" alt="Client Image">
        <h2>Professional</h2>


        </a>

        <!-- <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </div> -->

        <p>
          Very professional developer. Backend APIs were secure, fast,
          and well-structured. Communication was excellent.
        </p>
      </div>

      <div class="Project-item">
        <img src="assets/user3.png" alt="Client Image">
        <h2>Great Support</h2>

        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </div>

        <p>
          Amazing full-stack knowledge. Helped from UI design
          to deployment. Would definitely work again.
        </p>
      </div>

    </div>
  </div>
</section>
